@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cabin&family=Jost:ital,wght@0,300;0,500;1,600&display=swap');
.App {
  text-align: left;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  font-family: 'Jost', sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
